{% extends 'base.html' %}
{% load static %}

{% block title %}QuickDoc{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Welcome to QuickDoc</h1>
    <h3>"Expert Medical Advice, Anytime, Anywhere!"</h3>
    <div class="home-content">
        <div class="home-buttons">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
            {% else %}
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Go to Dashboard</a>
                <a href="{% url 'blog_home' %}" class="btn btn-primary">Read Articles</a>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}