{% extends 'base.html' %}

{% block title %}Patient Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <h2>Hello, {{ user.first_name }}!</h2>
    <div class="user-details">
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
        <p>User Type: Patient</P>
        <p>Name: {{ user.first_name|title }} {{ user.last_name|title }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Address: {{ user.address_line1|title }}</p>
        <p>City: {{ user.city|title }}</p>
        <p>State: {{ user.state|title }}</p>
        <p>Pincode: {{ user.pincode }}</p>
    </div>
</div>
{% endblock %}